h2 {
  font-size: inherit;
  margin-bottom: 0;
}

.toolbar {
  background-color: #3D3F40;
  padding: 10px;
}

.toolbar .btn {
  color: white;
  background-color: #6A6D6F;
  margin-left: 10px;
  height: 40px;
}

.sidebar {
  background-color: #1E1E20;
  height: calc(100vh - 2 * 10px - 40px);
  overflow-y: scroll;
}

.note_content {
  height: calc(100vh - 2 * 10px - 40px);
}

.note {
  resize: none;
  width: 100%;
  height: 100%;
  background-color: #2C2C2D;
  border: none;
  color: white;
  padding: 10px;
}

.note:focus {
  outline: none;
}

.sidebar__notes {
  padding: 20px;
  margin: 0;
  color: white;
  list-style: none;
}

.sidebar__notes li {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
}

.sidebar__notes li.active {
  background-color: #CA951E;
}

.sidebar__notes time {
  display: block;
  font-size: 0.8em;
}

.sidebar__note {
  padding: 5px;
}

.animate_delete {
  animation: remove-note-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  transform-origin: 0% 100%;
}

.animate_add {
  opacity: 0;
  animation: new-note-animation .3s linear forwards;
}

@keyframes new-note-animation {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes remove-note-animation {
  0% {
    opacity: 1;
    transform: rotateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(600px) rotateZ(90deg);
  }
}